{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@2.1.0/build/pure-min.css"
      integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'jobs/style.css' %}" />
    <title>Timesheet{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <a href="{% url "job_table" %}" class="pure-menu-link">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li class="pure-menu-item">
          <a href="{% url "registration_logout" %}" class="pure-menu-link">Logout</a>
        </li>
        {% else %}
        <li class="pure-menu-item">
          <a href="{% url "registration_login" %}" class="pure-menu-link">Login</a>
        </li>
        <li class="pure-menu-item">
          <a href="{% url "registration_register" %}" class="pure-menu-link">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="content">{% block content %}{% endblock content %}</div>
  </body>
</html>
