{% extends 'jobs/base.html' %}
{% block content %}

<h1>Job Table</h1>
<a class="pure-button" href="{% url "job_create" %}">Create Job</a>
{% if jobs %}
<table class="pure-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Hourly Rate</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for job in jobs %}
    <tr>
      <td>{{ job.title }}</td>
      <td>{{ job.currency }}{{ job.hourly_rate | floatformat:"2" }}</td>
      <td>
        <span class="pure-button-group" role="group">
          <a class="pure-button" href="{% url 'period_list' job.pk %}">View</a>
          <a class="pure-button" href="{% url 'job_update' job.pk %}">Update</a>
          <a class="pure-button" href="{% url 'job_delete' job.pk %}">Delete</a>
        </span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>There are no jobs</p>
{% endif %}
{% endblock content %}
