{% extends 'jobs/base.html' %}
{% block content %}

<h1>{{ periods.0.job }} Period Table</h1>
<a class="pure-button" href="{% url "job_table" %}">Back to Job</a>
<span class="pure-button-group" role="group">
  <a class="pure-button" href="{% url "period_create" view.kwargs.job_pk %}">Create Period</a>
  <a class="pure-button" href="{% url "period_list" view.kwargs.job_pk %}">List View</a>
</span>
{% if periods %}
<table class="pure-table">
  <thead>
    <tr>
      <th>Cutoff</th>
      <th>Payday</th>
      <th>Shifts</th>
      <th>Hours</th>
      <th>Income</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for period in periods %}
    <tr>
      <td>{{ period.cutoff | date }}</td>
      <td>{{ period.payday | date }}</td>
      <td>{{ period.shifts }}</td>
      <td>{% if period.hours %}{{ period.hours | floatformat:2 }}{% else %}0{% endif %}</td>
      <td>{{ period.job.currency }}{% if period.income %}{{ period.income | floatformat:2 }}{% else %}0{% endif %}</td>
      <td>
        <span class="pure-button-group" role="group">
          <a class="pure-button" href="{% url 'shift_table' period.job.pk period.pk %}">View</a>
          <a class="pure-button" href="{% url 'period_update' period.pk %}">Update</a>
          <a class="pure-button" href="{% url 'period_delete' period.pk %}">Delete</a>
        </span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>There are currently no periods</p>
{% endif %}
{% endblock content %}
