{% extends 'jobs/base.html' %}
{% block content %}
<h1>{{ shifts.0.period }} Shift List</h1>
<a class="pure-button" href="{% url "period_list" view.kwargs.job_pk %}">Back to Period</a>
<span class="pure-button-group" role="group">
  <a class="pure-button" href="{% url "shift_create" view.kwargs.job_pk view.kwargs.period_pk %}">Create Shift</a>
  <a class="pure-button" href="{% url "shift_create_alt" view.kwargs.job_pk view.kwargs.period_pk %}">Create Shift (L)</a>
</span>
{% for shift in shifts %}
<h2>{{ shift }}</h2>
<p>
  <b>Job</b> {{ shift.period.job }}<br>
  <b>Start</b> {{ shift.start }}<br>
  <b>Finish</b> {{ shift.finish }}<br>
  <b>Length</b> {{ shift.length | floatformat:2 }} hours<br>
  <b>Income</b> {{ shift.period.job.currency }}{{ shift.income | floatformat:"2" }}<br>
</p>
<div class="pure-button-group" role="group">
  <a class="pure-button" href="{% url 'shift_update' shift.pk %}">Update</a>
  <a class="pure-button" href="{% url 'shift_update_alt' shift.pk %}">Update (L)</a>
  <a class="pure-button" href="{% url 'shift_delete' shift.pk %}">Delete</a>
</div>
{% empty %}
<p>There are currently no shifts</p>
{% endfor %}
{% endblock content %}
