{% extends 'jobs/base.html' %}
{% block content %}

<h1>{{ shifts.0.period }} Shift Table</h1>
<a class="pure-button" href="{% url "period_table" view.kwargs.job_pk %}">Back to Period</a>
<span class="pure-button-group" role="group">
  <a class="pure-button" href="{% url "shift_create" view.kwargs.job_pk view.kwargs.period_pk %}">Create Shift</a>
  <a class="pure-button" href="{% url "shift_create_alt" view.kwargs.job_pk view.kwargs.period_pk %}">Create Shift (L)</a>
  <a class="pure-button" href="{% url "shift_list" view.kwargs.job_pk view.kwargs.period_pk %}">List View</a>
</span>
{% if shifts %}
<table class="pure-table">
  <thead>
    <tr>
      <th>Start</th>
      <th>Finish</th>
      <th>Length</th>
      <th>Income</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for shift in shifts %}
    <tr>
      <td>{{ shift.start }}</td>
      <td>{{ shift.finish }}</td>
      <td>{{ shift.length | floatformat:2 }} hours</td>
      <td>
        {{ shift.period.job.currency }}{{ shift.income | floatformat:"2" }}
      </td>
      <td>
        <span class="pure-button-group" role="group">
          <a class="pure-button" href="{% url 'shift_update' shift.pk %}">Update</a>
          <a class="pure-button" href="{% url 'shift_update_alt' shift.pk %}">Update (L)</a>
          <a class="pure-button" href="{% url 'shift_delete' shift.pk %}">Delete</a>
        </span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>There are currently no shifts</p>
{% endif %}
{% endblock content %}
