{% extends 'jobs/base.html' %} {% block content %}

<h1>Period List</h1>

{% if periods %}
<table class="pure-table">
  <thead>
    <tr>
      <th>Job</th>
      <th>Cutoff</th>
      <th>Payday</th>
      <th>Shifts</th>
      <th>Hours</th>
      <th>Income</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for period in periods %}
    <tr>
      <td>{{ period.job }}</td>
      <td>{{ period.cutoff | date }}</td>
      <td>{{ period.payday | date }}</td>
      <td>{{ period.shifts }}</td>
      <td>{{ period.hours | floatformat:1 }}</td>
      <td>{{ period.job.currency }}{{ period.income | floatformat:2 }}</td>
      <td>
        <a href="{% url 'period_shift_list' period.pk %}">Shifts</a>
        <a href="{% url 'period_update' period.pk %}">Update</a>
        <a href="{% url 'period_delete' period.pk %}">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>There are currently no periods</p>
{% endif %} {% endblock content %}
