{% extends 'jobs/base.html' %} {% block content %}

<h1>Period List</h1>
<p>
  <a href="{% url 'job_list' %}">Job List</a>
  <a href="{% url 'shift_list' %}">Shift List</a>
  <a href="{% url 'period_create' %}">Create Period</a>
</p>

{% if periods %}
<table class="pure-table">
  <thead>
    <tr>
      <th>Job</th>
      <th>Cutoff</th>
      <th>Payday</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for period in periods %}
    <tr>
      <td>{{ period.job }}</td>
      <td>{{ period.cutoff | date }}</td>
      <td>{{ period.payday | date }}</td>
      <td>
        <a href="{% url 'period_shift_list' period.pk %}">Shifts</a>
        <a href="{% url 'period_update' period.pk %}">Update</a>
        <a href="{% url 'period_delete' period.pk %}">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>There are currently no periods</p>
{% endif %} {% endblock content %}
