{% extends 'jobs/base.html' %} {% block content %}

<h1>Shift List</h1>

{% if shifts %}
<table class="pure-table">
  <thead>
    <tr>
      <th>Job</th>
      <th>Date</th>
      <th>Time</th>
      <th>Length</th>
      <th>Income</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for shift in shifts %}
    <tr>
      <td>{{ shift.period.job }}</td>
      <td>{{ shift.start | date:"l j F" }}</td>
      <td>{{ shift.start | time:"G:i" }}</td>
      <td>{{ shift.length | floatformat }} hours</td>
      <td>
        {{ shift.period.job.currency }}{{ shift.income | floatformat:"2" }}
      </td>
      <td>
        <a href="{% url 'shift_update' shift.pk %}">Update</a>
        <a href="{% url 'shift_delete' shift.pk %}">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>There are currently no shifts</p>
{% endif %} {% endblock content %}
